<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url> 
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},level=%level,thread=%thread,class=%logger{36}</pattern>
            </label>
            <message>
                <pattern>%msg%n%ex</pattern>
            </message>
        </format>
        <batchMaxItems>1000</batchMaxItems>
        <batchMaxBytes>1048576</batchMaxBytes> 
        <batchTimeoutMs>1000</batchTimeoutMs>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

    <!-- Example: Quieter logs for noisy packages -->
    <logger name="org.springframework.web" level="WARN"/>
    <!-- Set to INFO for JPA/Hibernate SQL, WARN to hide -->
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
</configuration>
